@import 'reset';
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Anton');

$primary-bg-color: #e5b907;
$nav-bg-color: #6782a6;
$panels-bg-color: #d0d0d0;
$primary-font: 'Roboto', sans-serif;

body {
  font-family: $primary-font;
  height:100%;
}

.header {
  background-color: $primary-bg-color;
  line-height: 2.5em;
  padding:20px 70px 10px 70px;
  overflow: hidden;
}

.logo {
  float:left;
}

.options-nav {
  float:right;
}

.user-connection {
  padding-top:4px;
  font-size:0.85em;
  text-align:right;
  font-weight: bold;
  float:left;
  line-height: 2rem;
}

.options-nav-arrow {
  float:left;
  margin:2px 0 0 20px;
}

.options-nav-arrow img {
  width:2em;
}

.main {
  clear:both;
}

.action-nav {
  overflow: hidden;
  background-color:$nav-bg-color;
  padding:0 70px 0 60px;
}

.action-menu {
  display:block;
}

.action-menu li {
  float:left;
  padding:10px 10px;
  font-weight: bold;
}

.action-menu li a {
  display:block;
  text-transform: uppercase;
  color:#000;
  text-decoration: none;
}

.action-menu li:hover {
  background-color: #485a71;
}

.listing-section {
  width:80%;
  float:left;
}

.server-log {
  position: absolute;
  bottom:0;
  right:20%;
  left:0;
}

.tab-title {
  font-size:16px;
  background-color:$panels-bg-color;
  padding:6px 6px 6px 10px;
}

.tab-content {
  overflow-y:auto;
  height:80px;
  padding:10px;
}

#server-log-tab {
  font-family: Courier;
  font-size:15px;
}

.details-aside {
  background-color:$panels-bg-color;
  float:right;
  width:20%;
  height: calc(100vh - 118px);
}

.files-table {
  width:100%;
}

.files-table thead {
  background-color:$panels-bg-color;
  line-height: 2.5em;
}

.files-table thead tr th {
  text-align: left;
}

.files-table thead tr th:first-child {
  padding-left:18px;
  width:29px;
}

.files-table thead tr th a {
  text-decoration: none;
  color:#000;
  font-family: $primary-font;
}

.files-table thead tr th a:hover {
  text-decoration: underline;
}

.files-table tbody tr td:first-child {
  text-align: center;
}

.files-table tbody tr td {
  line-height: 1.8em;
}

.files-table tbody tr:hover {
  background-color:#fff6a3;
  cursor:pointer;
}

.files-table tbody tr td a {
  color:#000;
  text-decoration: none;
}

.connect-title {
  font-family: 'Anton', sans-serif;
  font-size:2.3em;
  text-transform: uppercase;
}

.login {
  padding:33px 70px 0 70px;
}

.connect-form {
  margin-top:30px;
}

.connect-form label {
  display:block;
  font-weight: bold;
  color:#454545;
  margin:5px 0 5px 0;
}

.connect-form input {
  padding:5px;
  width:300px;
  border:1px solid #8a8a8a;
}

.connect-form-btn {
  margin-top:8px;
  width:312px;
  display: block;
  padding:10px;
  border:1px solid #8a8a8a;
  background-color:$primary-bg-color;
  font-weight: bold;
}
